@font-face {
  font-family: 'Lexend';
  src: url('assets/fonts/lexend/Lexend-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Lexend', sans-serif;
}